In [8]:
x = 19/104
print(f"{x :2%}")

18.269231%

In [11]:
x = 19/104
print(f"{x :.3%}")

18.269%

In [7]:
x = 19/104
print(f"{x :.2%}")

18.27%

In [14]:
x = 19/104
print(f"{x :.3}")

0.183

In [13]:
x = 19/104
print(f"{x :.2}")

0.18

# Imports

In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from scipy import stats
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV, ShuffleSplit
from sklearn.preprocessing import *
from sklearn.decomposition import PCA
from sklearn.feature_selection import RFE, RFECV
from sklearn.linear_model import *
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.utils import resample
from sklearn.datasets import make_regression
from sklearn.metrics import *
from sklearn.compose import make_column_transformer
from sklearn.pipeline import Pipeline, make_pipeline
from xgboost import XGBClassifier, XGBRegressor
from imblearn.datasets import make_imbalance
import statsmodels.api as sm
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from keras.models import Sequential
from keras.layers import Dense
from keras.callbacks import EarlyStopping
from keras.utils import to_categorical
from keras.wrappers.scikit_learn import KerasClassifier

In [2]:
early_stopping_monitor = EarlyStopping(patience=3)

In [3]:
def upsample_classes(data, target):
    
    lst = list(data[target].unique())
    
    classes = []
    for c in lst:
        classes.append(data[data[target]==c])
    
    length = 0
    class_lab = None
    for c in classes:
        if len(c)>length:
            length=len(c)
            class_lab = c
    class_lab = class_lab[target].unique()[0]
    
    regroup = pd.concat(classes)
    maj_class = regroup[regroup[target]==class_lab]

    lst.remove(class_lab)
    
    new_classes=[]
    for i in lst:
        new_classes.append(resample(data[data[target]==i],replace=True, n_samples=len(maj_class)))

    minority_classes = pd.concat(new_classes)
    upsample = pd.concat([regroup[regroup[target]==class_lab],minority_classes])

    return upsample

# continuous first

In [4]:
df = pd.read_csv('diamonds.csv')

In [5]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [6]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [7]:
df['volume'] = df.x*df.y*df.z
df.drop(['x','y','z'],axis=1,inplace=True)

In [8]:
df.head()

   carat      cut color clarity  depth  table  price     volume
0   0.23    Ideal     E     SI2   61.5   55.0    326  38.202030
1   0.21  Premium     E     SI1   59.8   61.0    326  34.505856
2   0.23     Good     E     VS1   56.9   65.0    327  38.076885
3   0.29  Premium     I     VS2   62.4   58.0    334  46.724580
4   0.31     Good     J     SI2   63.3   58.0    335  51.917250

In [9]:
for col in df.select_dtypes(include='O').columns:
    df[col] = LabelEncoder().fit_transform(df[col])
    df[col] = df[col].astype(float)

In [10]:
X = df.drop('price',axis=1)
y = df.price
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=14)

In [11]:
model = Sequential()

n_cols = X_train.shape[1]

model.add(Dense(10, activation = 'relu', input_shape = (n_cols, )))
model.add(Dense(10, activation = 'relu'))
model.add(Dense(1))

model.compile(optimizer = 'adam', loss = 'mean_squared_error')

In [12]:
model.fit(X_train, y_train, validation_split=0.2, epochs = 30, callbacks=early_stopping_monitor)

Epoch 1/30
1012/1012 [==============================] - 1s 1ms/step - loss: 14741368.0000 - val_loss: 4408494.5000
Epoch 2/30
1012/1012 [==============================] - 1s 942us/step - loss: 3219980.0000 - val_loss: 2323380.7500
Epoch 3/30
1012/1012 [==============================] - 1s 960us/step - loss: 2819279.5000 - val_loss: 2218742.5000
Epoch 4/30
1012/1012 [==============================] - 1s 945us/step - loss: 2728769.7500 - val_loss: 2144661.2500
Epoch 5/30
1012/1012 [==============================] - 1s 984us/step - loss: 2604113.7500 - val_loss: 2016174.8750
Epoch 6/30
1012/1012 [==============================] - 1s 940us/step - loss: 2506410.2500 - val_loss: 1929031.0000
Epoch 7/30
1012/1012 [==============================] - 1s 941us/step - loss: 2413221.5000 - val_loss: 1857556.7500
Epoch 8/30
1012/1012 [==============================] - 1s 944us/step - loss: 2343714.2500 - val_loss: 1808790.7500
Epoch 9/30
1012/1012 [==============================] - 1s 940us/step - loss: 2281247.2500 - val_loss: 1763182.7500
Epoch 10/30
1012/1012 [==============================] - 1s 956us/step - loss: 2225650.5000 - val_loss: 1726402.0000
Epoch 11/30
1012/1012 [==============================] - 1s 945us/step - loss: 2178149.0000 - val_loss: 1703788.1250
Epoch 12/30
1012/1012 [==============================] - 1s 937us/step - loss: 2133629.0000 - val_loss: 1671750.1250
Epoch 13/30
1012/1012 [==============================] - 1s 1ms/step - loss: 2091211.3750 - val_loss: 1643506.3750
Epoch 14/30
1012/1012 [==============================] - 1s 1ms/step - loss: 2063025.7500 - val_loss: 1633779.2500
Epoch 15/30
1012/1012 [==============================] - 1s 1ms/step - loss: 2024528.3750 - val_loss: 1611566.7500
Epoch 16/30
1012/1012 [==============================] - 1s 1ms/step - loss: 2000846.5000 - val_loss: 1608404.2500
Epoch 17/30
1012/1012 [==============================] - 1s 1ms/step - loss: 1966182.5000 - val_loss: 1577183.5000
Epoch 18/30
1012/1012 [==============================] - 1s 1ms/step - loss: 1943264.1250 - val_loss: 1561239.2500
Epoch 19/30
1012/1012 [==============================] - 1s 985us/step - loss: 1917132.2500 - val_loss: 1564882.2500
Epoch 20/30
1012/1012 [==============================] - 1s 942us/step - loss: 1896521.8750 - val_loss: 1551428.8750
Epoch 21/30
1012/1012 [==============================] - 1s 1ms/step - loss: 1866885.1250 - val_loss: 1526366.6250
Epoch 22/30
1012/1012 [==============================] - 1s 1ms/step - loss: 1845768.3750 - val_loss: 1516089.1250
Epoch 23/30
1012/1012 [==============================] - 1s 1ms/step - loss: 1827544.2500 - val_loss: 1501623.6250
Epoch 24/30
1012/1012 [==============================] - 1s 1ms/step - loss: 1804017.3750 - val_loss: 1491524.5000
Epoch 25/30
1012/1012 [==============================] - 1s 981us/step - loss: 1786824.0000 - val_loss: 1483220.6250
Epoch 26/30
1012/1012 [==============================] - 1s 940us/step - loss: 1764249.3750 - val_loss: 1474053.7500
Epoch 27/30
1012/1012 [==============================] - 1s 961us/step - loss: 1745382.1250 - val_loss: 1463414.8750
Epoch 28/30
1012/1012 [==============================] - 1s 1ms/step - loss: 1727860.6250 - val_loss: 1458719.6250
Epoch 29/30
1012/1012 [==============================] - 1s 1ms/step - loss: 1710574.5000 - val_loss: 1443764.7500
Epoch 30/30
1012/1012 [==============================] - 1s 957us/step - loss: 1691504.7500 - val_loss: 1474859.6250

In [13]:
preds = model.predict(X_test)

In [14]:
print(r2_score(y_test,preds))
print(mean_absolute_error(y_test,preds))

0.9017847694105239
763.2608433006293

In [15]:
model2 = Sequential()

model2.add(Dense(200, activation='relu', input_shape=(n_cols,)))
model2.add(Dense(200, activation='relu'))
model2.add(Dense(200, activation='relu'))
model2.add(Dense(1))

model2.compile(optimizer = 'adam', loss = 'mean_squared_error')

model2.fit(X_train, y_train, validation_split = 0.2, epochs = 30, callbacks = early_stopping_monitor)

Epoch 1/30
1012/1012 [==============================] - 2s 2ms/step - loss: 3486223.0000 - val_loss: 1547608.2500
Epoch 2/30
1012/1012 [==============================] - 1s 1ms/step - loss: 2161514.7500 - val_loss: 1234288.5000
Epoch 3/30
1012/1012 [==============================] - 1s 1ms/step - loss: 1582822.6250 - val_loss: 1116687.5000
Epoch 4/30
1012/1012 [==============================] - 1s 1ms/step - loss: 1258404.0000 - val_loss: 1132536.7500
Epoch 5/30
1012/1012 [==============================] - 1s 1ms/step - loss: 1205241.1250 - val_loss: 1112664.3750
Epoch 6/30
1012/1012 [==============================] - 1s 1ms/step - loss: 1154736.5000 - val_loss: 1111808.6250
Epoch 7/30
1012/1012 [==============================] - 1s 1ms/step - loss: 1140422.6250 - val_loss: 1076430.8750
Epoch 8/30
1012/1012 [==============================] - 1s 1ms/step - loss: 1141080.2500 - val_loss: 1046665.4375
Epoch 9/30
1012/1012 [==============================] - 1s 1ms/step - loss: 1144466.3750 - val_loss: 1049273.3750
Epoch 10/30
1012/1012 [==============================] - 1s 1ms/step - loss: 1136408.8750 - val_loss: 1085686.1250
Epoch 11/30
1012/1012 [==============================] - 1s 1ms/step - loss: 1129831.6250 - val_loss: 1038233.1875
Epoch 12/30
1012/1012 [==============================] - 1s 1ms/step - loss: 1107855.5000 - val_loss: 1218398.1250
Epoch 13/30
1012/1012 [==============================] - 1s 1ms/step - loss: 1102169.2500 - val_loss: 1061389.7500
Epoch 14/30
1012/1012 [==============================] - 1s 1ms/step - loss: 1083536.8750 - val_loss: 991671.9375
Epoch 15/30
1012/1012 [==============================] - 1s 1ms/step - loss: 1058908.8750 - val_loss: 953200.8125
Epoch 16/30
1012/1012 [==============================] - 1s 1ms/step - loss: 1027275.6250 - val_loss: 1181390.7500
Epoch 17/30
1012/1012 [==============================] - 2s 2ms/step - loss: 950225.2500 - val_loss: 828531.4375
Epoch 18/30
1012/1012 [==============================] - 2s 2ms/step - loss: 860051.5000 - val_loss: 827618.7500
Epoch 19/30
1012/1012 [==============================] - 1s 1ms/step - loss: 789775.4375 - val_loss: 729862.6875
Epoch 20/30
1012/1012 [==============================] - 1s 1ms/step - loss: 738190.6250 - val_loss: 670833.5000
Epoch 21/30
1012/1012 [==============================] - 1s 1ms/step - loss: 686656.0000 - val_loss: 615950.8750
Epoch 22/30
1012/1012 [==============================] - 1s 1ms/step - loss: 658139.5625 - val_loss: 666114.6250
Epoch 23/30
1012/1012 [==============================] - 1s 1ms/step - loss: 636515.1250 - val_loss: 597224.9375
Epoch 24/30
1012/1012 [==============================] - 1s 1ms/step - loss: 591509.6875 - val_loss: 595262.1875
Epoch 25/30
1012/1012 [==============================] - 1s 1ms/step - loss: 571940.4375 - val_loss: 521622.0938
Epoch 26/30
1012/1012 [==============================] - 1s 1ms/step - loss: 549159.5625 - val_loss: 467910.2500
Epoch 27/30
1012/1012 [==============================] - 1s 1ms/step - loss: 520293.0312 - val_loss: 458785.4688
Epoch 28/30
1012/1012 [==============================] - 1s 1ms/step - loss: 524828.6250 - val_loss: 508031.7812
Epoch 29/30
1012/1012 [==============================] - 1s 1ms/step - loss: 487504.8438 - val_loss: 451233.7812
Epoch 30/30
1012/1012 [==============================] - 1s 1ms/step - loss: 492339.8125 - val_loss: 454723.6562

In [16]:
preds2 = model2.predict(X_test)

In [17]:
print(r2_score(y_test,preds2))
print(mean_absolute_error(y_test,preds2))

0.9674075284004763
380.4542182806381

# discrete

In [18]:
df2 = pd.read_csv('sample.csv')

In [19]:
df2.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,price_bin,volume
0,0,0.23,Ideal,E,SI2,61.5,55.0,326.0,0.0,38.202030
1,1,0.21,Premium,E,SI1,59.8,61.0,326.0,0.0,34.505856
2,2,0.23,Good,E,VS1,56.9,65.0,327.0,0.0,38.076885
3,3,0.29,Premium,I,VS2,62.4,58.0,334.0,0.0,46.724580
4,4,0.31,Good,J,SI2,63.3,58.0,335.0,0.0,51.917250

In [20]:
df2['price_bin']=pd.cut(df2.price,bins=4,labels=[0,1,2,3])

In [21]:
df2.drop(['Unnamed: 0', 'price'], axis=1, inplace=True)

In [22]:
for col in df2.select_dtypes(include='O').columns:
    df2[col] = LabelEncoder().fit_transform(df2[col])

In [23]:
X = df2.drop(['price_bin'],axis=1)
y = df2.price_bin

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.30,random_state=14)

In [24]:
train = pd.concat([X_train,y_train],axis=1)
up = upsample_classes(train, 'price_bin')

In [25]:
X_train = up.drop('price_bin',axis=1)
y_train = up.price_bin

In [26]:
y_train = to_categorical(y_train)
y_test = to_categorical(y_test)

count_classes = y_test.shape[1]
print(count_classes)

4

In [27]:
model3 = Sequential()

n_cols_3 = X_train.shape[1]

model3.add(Dense(250, activation='relu', input_shape = (n_cols_3,)))
model3.add(Dense(250, activation='relu'))
model3.add(Dense(250, activation='relu'))
model3.add(Dense(y_train.shape[1], activation='softmax'))

In [28]:
model3.compile(optimizer='adam', loss='categorical_crossentropy',metrics=['accuracy'])

In [29]:
model3.fit(X_train, y_train, epochs=30, validation_split= 0.25, callbacks=early_stopping_monitor)

Epoch 1/30
2561/2561 [==============================] - 4s 2ms/step - loss: 0.4281 - accuracy: 0.8319 - val_loss: 19.9512 - val_accuracy: 0.0000e+00
Epoch 2/30
2561/2561 [==============================] - 4s 2ms/step - loss: 0.3421 - accuracy: 0.8601 - val_loss: 28.0378 - val_accuracy: 0.0000e+00
Epoch 3/30
2561/2561 [==============================] - 4s 2ms/step - loss: 0.2739 - accuracy: 0.8885 - val_loss: 29.0404 - val_accuracy: 0.0000e+00
Epoch 4/30
2561/2561 [==============================] - 4s 2ms/step - loss: 0.2214 - accuracy: 0.9142 - val_loss: 34.2147 - val_accuracy: 0.0000e+00

In [30]:
pred_train= model3.predict(X_train)
scores = model3.evaluate(X_train, y_train, verbose=0)
 
pred_test= model3.predict(X_test)
scores2 = model3.evaluate(X_test, y_test, verbose=0)

In [ ]:
prds3 = []
for i in list(preds3.reshape(-1,1)):
    prds3.append(int(i))
    
y_t_3 = []
for i in list(y_test.reshape(-1,1)):
    y_t_3.append(int(i))